header { 

    .headerNavbar {
        font-family: "Hurricane";
        font-style: italic;
        font-size: 1.5em;
        letter-spacing: 3px;
    
        @media (min-width:768px) {
            font-size: 2em;
            height: 270px;
        }    
    }

    nav { 
        background-image: url(../img/wood_1.png);

        .burguerIcon {
            background-color: $colorPrimario;
            border: 3px solid white;
            border-radius: 20%;
            box-shadow: 3px 3px $colorPrimario, 4px 4px white;

            &:active {
                box-shadow: 2px 2px $colorPrimario;
                transform: translate(2px,2px); 
            }
        }
        .navbar-toggler {
            width:120px;
        }
    
        .navegacion {
            flex-basis: 0%;
        } 

        .headerNavbar_Nav {
            width: fit-content;
            animation-name: logoFadeIn;
            animation-duration: 5s;
        }

        .backgroundDropDown {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1em;
            background-color:rgba(247, 239, 239, 0.74);
            white-space: pre-wrap;
        }

        @media (max-width: 575px) {
            .dnone {
                display: none;
            }
        }

        .menuFly {
            animation-name: menuFly;
            animation-duration: 3s;
            box-shadow: -4px 4px 0px #bc2a8d;
            width: 400px;
        
            @keyframes menuFly {
                from {top:5cm;}
                to {top:1.7cm;}
            }
        }

        .dropdown-toggle::after {
            color:#bc2a8d;
        }

        @media (max-width:570px) {
            .dropdown-menu {
                min-width: 0;
                width: min-content;
            }
        }
    }

    .imgEncabezado {
        height: 350px;
        font-family: "Hurricane";
        letter-spacing: 5px;
        font-weight:lighter;
        color: $colorPrimario;
    
        h1 {
            font-size: 3em;
            animation-name: logoFadeIn;
            animation-duration: 5s;
        }
    }
        @media (min-width:260px) {
            .imgEncabezado h1 {
                font-size: 5em;
            }    
        }
        @media (min-width:400px) {
            .imgEncabezado h1 {
                font-size: 6em;
                transition: 3s;
            }    
        }
        @media (min-width:768px) {
            .imgEncabezado h1 {
                font-size: 8em;
                transition: 3s;
            }    
        }
}

.miCarritoPointer {
    cursor: pointer;
}